<!DOCTYPE html>
<html lang="en-CA">
    

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Lego Collection</title>
</head>

    <body class="bg-gray-50">
<!-- Nav Bar -->
<div class="navbar bg-yellow-300">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl text-yellow-950" href="/"
        >Lego Collection</a
      >
    </div>

    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost sm:hidden text-yellow-950">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
          />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-yellow-300 rounded-box w-52"
      >
        <li><a href="/about" class="text-yellow-950">About
        </a></li>
        <li>
          <details>
            <summary class="text-yellow-950">Theme</summary>
            <ul class="p-2 bg-yellow-300">
              <li><a class="text-yellow-950" href="/lego/sets?theme=technic">Technic</a></li>
              <li>
                <a class="text-yellow-950" href="/lego/sets?theme=classic town">Classic Town</a>
              </li>
              <li>
                <a class="text-yellow-950" href="/lego/sets?theme=supplemental">Supplemental</a>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </div>

    <div class="navbar-center hidden sm:flex">
      <ul class="menu menu-horizontal text-yellow-950 px-1">
        <li><a href="/about" class="p-2">About
        </a></li>
        <li>
          <details>
            <summary class="text-yellow-950">Theme</summary>
            <ul class="p-2 bg-yellow-300 right-0">
              <li><a  href="/lego/sets?theme=technic">Technic</a></li>
              <li>
                <a  href="/lego/sets?theme=classic town">Classic Town</a>
              </li>
              <li>
                <a  href="/lego/sets?theme=supplemental">Supplemental</a>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
<br/>



            <div class="container mx-auto">
                <!-- Main heading -->
                <div class="hero bg-neutral-300 rounded-lg p-6">
                    <div class="hero-content text-center">
                        <div class="max-w-md colo text-black">
                            <h1 class="text-5xl font-bold">Hello, I'm Ashwin</h1>
                            <br/>
                            <p class="py-6"> Something about me! </p>
                        </div>
                    </div>
                </div>
                <br />
                
                <!-- Grid layout with two columns on medium screens and above -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                    <!-- Image -->
                    <div class="bg-white rounded-lg overflow-hidden shadow-md">
                        <img class="w-full h-32 md:h-full object-cover object-center"
                            src="https://gifdb.com/images/high/one-punch-man-thinking-huh-tc539pkctbam7hkz.webp" alt="Your Image">
                    </div>
                    
                    <!-- Description -->
                    <div class="bg-white rounded-lg overflow-hidden shadow-md p-4">
                        <div class="p-4">
                            <h2 class="text-xl font-bold mb-2 text-black">About Me</h2>
                            <p class="text-gray-700 mb-4">Myself Ashwin B N, student at Seneca Polytechnic.<br/>As a dedicated computer programming student, often dedicating my weekends 
                                to grappling with challenging assignments, even though I often struggle with them. Despite my shortcomings, 
                                I find solace and enjoyment in my hobbies, including indulging in anime and manga, capturing moments through 
                                photography, and passionately following football, with Manchester United holding a special place in my heart 
                                as my favorite team. However, I must confess that there are times when my mind seems to betray me, leaving me 
                                feeling dumbfounded and frustrated when my brain fails to function as expected.
                            </p>
        
                        </div>
                </div>
            </div>


    </body>

    </html>